body {
    padding: 0;
    text-align: center;
}

#game-board {
    display: flex;
    float: center;
    padding: 10px 0px;
    justify-content: space-between;
}

.game-intro {
    display: flex;
    justify-content: space-between;
    float: center;
    padding: 0% 10%;
    padding-top: 30px;
}

.game-intro p {
    font-size: 18px;
    font-family: "Verdana";
}

.logo-img {
    width: 150px;
}

#instrucciones {
width: 650px;
}

.arrows-img {
    padding: 0px 100px;
    width: 400px;
}

body button {
    width: 400px;
    height: 200px;
    font-size: 30px;
    background-image: url("../img/BOTON.jpg");
    background-repeat: no-repeat;
    padding: 0px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.background {
    background-image: url("../img/IRONKOMBAT.jpg");
    background-size: cover;
}