body {
    padding: 0;
    text-align: center;
}

#game-board {
    float: center;
    padding: 20px 0px;
}

.game-intro {
    display: flex;
    justify-content: space-around;
    float: center;
    padding: 0% 10%;
    padding-top: 30px;
}

.game-intro p {
    font-size: 18px;
    font-family: "Verdana";
}

.logo-img {
    width: 350px;
}

.arrows-img {
    width: 150px;
}

body button {
    font-size: 30px;
    background-color: rgb(147, 58, 58);
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.background {
    background-image: url("../img/IRONKOMBAT.jpg");
    background-size: cover;
}